<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>

</head>

<body>
  <h1>Carrito de Compras</h1>

    {{#if cart}}
    <ul>
          {{#each cart.products}}
                <li>
                    <strong>{{this.product.titulo}}</strong>
                    <span>Cantidad: {{this.quantity}}</span>
                    <span>Precio unitario: {{product.precio}}</span>
                </li>
            {{/each}}
    </ul>


 <div>
            <strong>Total a abonar: {{cart.total}}</strong>
    </div>


    <button class="purchase-cart">Comprar</button>
    {{else}}
    <p>El carrito está vacío.</p>
    {{/if}}

</body>
</html>


    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            color: #333;
        }

        h1 {
            color: #007bff;
            padding: 20px 0;
        }

        ul {
            list-style: none;
            padding: 0;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

        li {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 15px;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            transition: transform 0.2s ease-in-out;
        }

        li:hover {
            transform: translateY(-5px);
        }

        button.purchase-cart {
            background-color: #28a745;
            color: #fff;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
            margin-top: 20px;
            transition: background-color 0.3s ease-in-out;
        }

        button.purchase-cart:hover {
            background-color: #218838;
        }

        div {
            margin-top: 20px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        p {
            color: #555;
            margin-top: 20px;
            font-size: 16px;
        }
    </style>