<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h1>Lista de Productos</h1>

{{#if showLink}}
<a href="/api/product/createProduct" class="create-link">Crear Producto</a>
{{/if}}
<a href="/api/cart/{{cartId}}" class="cart-link">Ver Carrito</a>

<ul>
    {{#each products}}
    <li>
        <h2>{{titulo}}</h2>
        <p>Categoría: {{categoria}}</p>
        <p>Precio: {{precio}}</p>
        <p>Stock: {{stock}}</p>
        <label for="quantity-{{_id}}">Cantidad:</label>
        <input type="number" id="quantity-{{_id}}" class="quantity-input" value="1" min="1">
        <button class="add-cart" data-product-id="{{_id}}">Agregar al carrito</button>

        {{#if showDeleteButton}}
        <form method="POST" action="/api/product/{{_id}}?_method=DELETE">
            <button type="submit" class="delete-product">Eliminar Producto</button>
        </form>
        {{/if}}

    </li>
    {{/each}}
</ul>

<div class="pagination">
    {{#if pagination.hasPrevPage}}
    <a href="?page={{pagination.prevPage}}">Anterior</a>
    {{/if}}

    <span>Página {{pagination.page}} de {{pagination.totalPages}}</span>

    {{#if pagination.hasNextPage}}
    <a href="?page={{pagination.nextPage}}">Siguiente</a>
    {{/if}}
</div>

<script>
    document.addEventListener('click', async function (event) {
        console.log('Clic en algún lugar de la página');
        if (event.target.classList.contains('add-cart')) {
            try {
                const pid = event.target.dataset.productId;
                const quantityInput = document.getElementById(`quantity-${pid}`);
                const quantity = quantityInput ? parseInt(quantityInput.value) : 1;
                const cid = '{{ cartId }}';
                const response = await fetch(`/api/cart/${cid}/${pid}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ quantity: quantity })
                });
                const result = await response.json();
                if (response.ok) {
                    console.log(result.message);
                } else {
                    console.error(result.error);
                }
            } catch (error) {
                console.error('Error al agregar el producto al carrito:', error);
            }
        }
    });
</script>





<style>
    h1 {
        font-size: 24px;
        color: #333;
        display: flex;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
    }

    h2 {
        font-size: 20px;
        color: #007bff;
    }

    p {
        font-size: 16px;
        color: #555;
        margin: 5px 0;
    }

    .create-link {
        display: blo
    }

    .delete-product,
    .add-cart {
        margin-top: 5px;
        padding: 5px;
        cursor: pointer;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 3px;
    }